<div class="form-body">
  <form
    autocomplete="off"
    [formGroup]="createForm"
    (ngSubmit)="onCreate(createForm.value)"
  >
    <div>
      <label>Name: </label>
      <input type="text" formControlName="name" autocomplete="off" />
    </div>
    <div>
      <label>Description: </label>
      <input type="text" formControlName="description" autocomplete="off" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngFor="let todo of todos">
  <div>{{ todo.name }}</div>
  <div>{{ todo.description }}</div>
</div>